<a href="https://colab.research.google.com/github/lappiahnuamah/Data-Analytics/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
string = tf.Variable('It is a great day', tf.string)

In [ ]:
string.shape

TensorShape([])

In [ ]:
tf.rank(string)

In [ ]:
name = tf.Variable(["It's my name ohk"], tf.string)

In [ ]:
name.shape

TensorShape([1])

In [ ]:
tf.rank(name)

In [ ]:
name = tf.Variable([["It's my name worsop"], ["Are you available"]], tf.string)
print(name.shape)
tf.rank(name)

(2, 1)

In [ ]:
tensor1 = tf.ones([1, 2 ,3])

In [ ]:
print(tensor1)

tf.Tensor(
[[[1. 1. 1.]
  [1. 1. 1.]]], shape=(1, 2, 3), dtype=float32)

In [ ]:
import numpy as np

In [ ]:
#Let's try out some dictionarys
world = {
    'albania' : 2.77,
    'algeria': 39.21,
    'afghanistan': 30.55,
}
for w in world:
  print(w)

albania
algeria
afghanistan

In [ ]:
for key, val  in world.items():
  print('The country ' + str(key)+ ' has a value ' + str(val))

The country albania has a value 2.77
The country algeria has a value 39.21
The country afghanistan has a value 30.55

In [ ]:
np_height = np.array([1.73, 5.23, 1.71, 1.89, 1.97])
np_weight = np.array([65.3, 23.5, 63.3, 89.4, 98.6])
meas = np.array([np_height, np_weight])
meas

array([[ 1.73,  5.23,  1.71,  1.89,  1.97],
       [65.3 , 23.5 , 63.3 , 89.4 , 98.6 ]])

In [ ]:
for i in meas:
  print(i)

[1.73 5.23 1.71 1.89 1.97]
[65.3 23.5 63.3 89.4 98.6]

In [ ]:
for i in np.nditer(meas):
  print(i)

1.73
5.23
1.71
1.89
1.97
65.3
23.5
63.3
89.4
98.6

In [ ]:
#Take note of thsee
#Dictionary : for key, val in my_dict.items():
#Numpy Aray: for val in np.nditter(my_arrray):

In [ ]:
import pandas as pd

In [ ]:
row  = pd.DataFrame([['Ama', 'Abena', 'Akosua', 'Kofi'], [12, 15, 17, 18]])

In [ ]:
row

     0      1       2     3
0  Ama  Abena  Akosua  Kofi
1   12     15      17    18

In [ ]:
for i, j in row.iterrows():
  print(i)
  #print(j)

0
1