<a href="https://colab.research.google.com/github/lappiahnuamah/Data-Analytics/blob/main/Week5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda Functions

In [ ]:
def double(x):
   return x * 2

print(double(10))

20

In [ ]:
# Program to show the use of lambda functions
double = lambda x: x * 2

print(double(10))

20

In [ ]:
increment = lambda x: x + 1
increment(2)

3

### Filter & Map

* Filter

In [ ]:
lst = [33, 3, 22, 2, 11, 1]
my_filter = filter(lambda x: x > 10, lst)
print(my_filter)


lst = list(my_filter)
lst

<filter object at 0x7ff419d8cf90>

[33, 22, 11]

In [ ]:
# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12, 55, 32, 31, 50, 56]

my_filter = filter(lambda x: (x%2 == 0) , my_list)
new_list = list(my_filter)

print(new_list)

[4, 6, 8, 12, 32, 50, 56]

* Map

In [ ]:
# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12, 55, 32, 31, 50, 56]

my_map = map(lambda x: x * 2 , my_list) 
new_list = list(my_map)

print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24, 110, 64, 62, 100, 112]

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3, 4, 5], 'col2': [0, 0, 0, 0, 0]})
print(df)
df['col3'] = df['col1'].map(lambda x: x * 10)
df

   col1  col2
0     1     0
1     2     0
2     3     0
3     4     0
4     5     0

   col1  col2  col3
0     1     0    10
1     2     0    20
2     3     0    30
3     4     0    40
4     5     0    50

In [ ]:
df['col4'] = df['col1'].apply(lambda x: x * 10)
df

   col1  col2  col3  col4
0     1     0    10    10
1     2     0    20    20
2     3     0    30    30
3     4     0    40    40
4     5     0    50    50

In [ ]:
df['col5'] = df['col3'].map(lambda x: x/10 if x < 30 else x*10)
df

   col1  col2  col3  col4   col5
0     1     0    10    10    1.0
1     2     0    20    20    2.0
2     3     0    30    30  300.0
3     4     0    40    40  400.0
4     5     0    50    50  500.0

In [ ]:
df.apply(lambda x:x*100)

   col1  col2  col3  col4     col5
0   100     0  1000  1000    100.0
1   200     0  2000  2000    200.0
2   300     0  3000  3000  30000.0
3   400     0  4000  4000  40000.0
4   500     0  5000  5000  50000.0

In [ ]:
df

   col1  col2  col3  col4   col5
0     1     0    10    10    1.0
1     2     0    20    20    2.0
2     3     0    30    30  300.0
3     4     0    40    40  400.0
4     5     0    50    50  500.0